

 body {
      font-family: Arial, sans-serif;
      background: #f0f4f8;
      padding: 20px;
      text-align: center;
    }
    h1 { color: #333; }
    #question { font-size: 20px; margin-bottom: 15px; }
    #answers button {
      display: block;
      margin: 5px auto;
      padding: 10px 20px;
      background: #4285f4;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 18px;
    }
    #answers button:disabled {
      background: #4285f4;
      cursor: not-allowed;
      font-size: 18px;
    }
    .hidden { display: none; }
    #result, #phase-info, #progresso-info {
      margin-top: 20px;
      font-weight: bold;
    }
    input[type="text"] {
      padding: 8px;
      margin: 10px;
      width: 200px;
    }
    button.action {
      background: #34a853;
      margin: 5px;
    }
    #start-btn {
      background: #fbbc05;
      padding: 10px 20px;
      font-size: 16px;
      margin-bottom: 20px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
    }

    @media (max-width: 600px) {
  body {
    font-size: 20px;
    padding: 20px;
    background-color: #35428d;
    color: white;
  }

  .action{
    font-size: 20px;
    color: white;
     
}

.progresso{
    margin: 20px;

}
#next-btn{
  margin: 20px;
    font-size: 20px;
    color: white;
    background: #fbbc05;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  #start-btn{
    margin: 20px;
    font-size: 20px;
    color: white;
    background: #fbbc05;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer
}
 h1{
  color: rgb(211, 192, 21);
 }
    }