*{
    padding: 0;
margin: 0;
box-sizing: border-box;
}

button{
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.container{
    background-color: #fdfdff;
    width: 97%;
    max-width: 800px;
    border: 2px solid #a0a0c3;
    border-radius: 6px;
    padding: 10px;
    box-sizing: 0 0 2px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questions-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.question{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.answers-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.next-question{
    margin-top: 32px;
}

.button {
  background-color: orange;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: darkorange;
}

.button:not(:disabled):hover{
    filter: brightness(0.8);
}

.answer:disabled{
    cursor:not-allowed;
}

.final-message{
    font-size: 20px;
    text-align: center;
}

.final-message span{
    display: block;
    margin-top: 8px;
}

.hide{
    display: none;
}

.correct{
    background-color: #049b48;
}

.incorrect{
    background-color: #a10101;
}
.timer-container {
    width: 100%;
    background: #ccc;
    height: 10px;
    margin-bottom: 10px;
  }
  
  .timer-bar {
    height: 10px;
    background: #2ecc71;
    transition: width linear;
  }

  .timer-container {
    width: 100%;
    background: #ccc;
    height: 10px;
    margin-bottom: 10px;
  }
  
  .timer-bar {
    height: 10px;
    background: #2ecc71;
    transition: width linear;
  }
  
  #timeText {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
  }

  
  
  .player-container {
    background: white;
    padding: 0px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  .player-container input {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 10px; /* Espaço entre o botão e o campo de nome */
    width: 200px; /* Menor largura */
    box-sizing: border-box;
  }
  
  .start-button {
    padding: 8px 20px;
    font-size: 14px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .start-button:hover {
    background-color: #45a049;
  }
  

  
  
  